<!DOCTYPE html>
<html>
<head>
	<style>
	
	body{
	background-color: #423e3e;
	}
	
	p{
	margin-top: 100px;
	text-align: center;
	color: #fff7f8;
	font-size:35px;
	
	}
	a{
	color: #fffefc;
	}
	.link{
	margin-top:50px;
	}
	p:hover{
		color: #338033;
	}
	
	</style>

<body>

<p><i>YOUR TASK HAS BEEN CANCELED</i></p><br>
<div class="link">
<a  href="/finish/"><p style="text-align: center; color: #96a4ff; font-size: 21px; margin-top: 50px" >Click Here to Download the Data</p></a>
<a  href="/"><p style="text-align: center; color: #96a4ff; font-size: 21px; margin-top: 50px" >Click Here to Back to Home Page</p></a><br>


</div>
</body>



</head>
</html>

