<!DOCTYPE html>
<html>
<head>
	<style>
	
	body{
	background-color: #423e3e;
	}
	
	p{
	margin-top: 100px;
	text-align: center;
	color: #fff7f8;
	font-size:37px;
	
	}
	a{
	color: #fffefc;
	}
	.link{
	margin-top:50px;
	}
	p:hover{
		color: #338033;
	}
	
	</style>

<body>

<p><i>ERROR: URL IS INVALID</i></p>
<div class="link">
<a  href="/details/"><p style="text-align: center; color: #96a4ff; font-size: 22px; margin-top: 50px" >Click Here to go Back to Details Page</p></a>

</div>
</body>



</head>
</html>

