<html>
{% load static %}
<head>
    <title>Home page</title>
    <link href='{% static "interface/homepage.css" %}' rel="stylesheet" type="text/css">
</head> 
<body>
    <header>        	
    <div class="heading">
    <h1><b><i>Welcome to Facebook crawler </i> </b></h1>   
    <p>This is a facebook crawler that crawls comments from the link of a post and gives a csv file of all the comments </p><br>
    <div class="button">
        <a href="details/" class="btn">Click here to use</a>  
    </div>     
    <br>
    <div class="button">
        <a href="results/" class="btn">Click here to access admin page</a>  
    </div>      
    </div>
    </header>

</body>    
</html>
